.benefits {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 84px;
  padding-top: 84px;
  background-color: #fff;
  color: #303030;
  outline: 1px solid red;
}

.benefits .container {
  margin-left: 31px;
  margin-right: 31px;
  outline: 1px solid green;
}

.benefits .subject {
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: Open Sans;
  font-style: normal;
  font-size: 11px;
  line-height: 1.36;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: left;
}

.benefits .title {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  font-style: normal;
  font-size: 42px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  font-family: Raleway;
  text-align: left;
}

.benefits .text {
  font-family: Open Sans;
  font-style: normal;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 44px;
  color: #555;
}

@media screen and (max-width: 767px) {
  .benefits {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits {
    max-width: 768px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .benefits .container {
    margin-left: 40px;
    margin-right: 39px;
  }
  .benefits .title {
    margin-right: 308px;
  }
  .benefits .text {
    margin-right: 228px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 121px;
    padding-top: 121px;
  }
  .benefits .wrap {
    margin-top: 9px;
  }
  .benefits .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .benefits .title {
    margin-right: 205px;
  }
  .benefits .text {
    margin-right: 125px;
  }
}

.flex .list {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex .item {
  position: relative;
  width: 193px;
  height: 133px;
  background-color: #f7f7f7;
}

.flex .item:nth-child(1) {
  margin: 0 30px 30px 0;
}

.flex .item:nth-child(2) {
  margin-top: 30px;
}

.flex .number {
  margin: 20px 0 6px;
  font-family: Open Sans;
  font-style: normal;
  font-size: 42px;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.flex .item-text {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  font-style: normal;
  font-size: 11px;
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin: 0 35px;
}

.flex .icon {
  position: absolute;
  width: 13px;
  height: 22px;
  outline: 1px solid red;
}

@media screen and (min-width: 768px) {
  .flex {
    margin-left: 279px;
  }
  .flex .item {
    width: 210px;
  }
}

@media screen and (min-width: 1200px) {
  .flex {
    margin-left: 30px;
    margin-right: 130px;
  }
  .flex .item {
    width: 170px;
  }
}
/*# sourceMappingURL=main.css.map */